body {
	padding-top: 15px;
	background-color: #DDD;
}

[class*="zone"], footer {
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 50px;
}

.disabled{
	cursor: not-allowed;
	color: #636c72;
}

.noteColor{
	color: black;
}